body{
    background: linear-gradient(to right,rgb(140, 252, 48),rgb(221, 60, 233),rgb(16, 134, 224));
    

}
.ww0{display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;}
.ww1{
    border: 1px transparent;
    border-radius: 4px;
    width: 400px;
    height:320px;
    background-color: rgb(10, 209, 249);
    display: inline-block;
    margin: 20px;
    padding: 0x;
    text-align: center;
}
.ww2{
    border: 1px transparent;
    border-radius: 4px;
    width: 400px;
    height:500px;
    background-color: rgb(10, 209, 249);
    display: inline-block;
    margin: 20px;
    padding: 20x;
    text-align: center;
}
input{padding: 10px;margin: 10px;width: 300px;border-radius: 17px;border: 1px transparent;
}
#vvv{
    border: 1px transparent;
    width: 24px;
}